<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seguridad</title>
    </head>
    <body>
        <form method="get">
            nombre:
            <input type="text" name="nombre">
            <input type="submit" value="Buscar">
        </form> 
        <h2>Resultado: {{nombre|safe}}</h2>   

        <!--Busqueda-->
        <script type="application/javascript">
            var busquedad = new
            URLSearchParams(document.location.search);
            if (busquedad.has('nombre')) {
                document.getElementById('resultado').innerHTML = "Resultado: " + busquedad.get('nombre');
            }  
        </script>  
        <!--Fin de busqueda--> 
    </body>
</html> 


